# Auto detect text files and perform LF normalization
* text=auto

bash_profile text eol=lf
bashrc text eol=lf
bash/* text eol=lf

zprofile text eol=lf
zshrc text eol=lf
zsh/* text eol=lf

shell/* text eol=lf

*.sh text eol=lf
*.bat text eol=crlf
*.reg text eol=crlf diff

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
