# Created by chorito https://github.com/ArloL/chorito

*
!.gitignore
!settings.json
!tasks.json
!launch.json
!extensions.json
!*.code-snippets

# End of chorito. Add your ignores after this line and they will be preserved.
